NetWebTest/Xml/schema/v5/SubItems/RazorData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by cjy (baison) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tk="http://www.qdocuments.net" targetNamespace="http://www.qdocuments.net" elementFormDefault="qualified">
  <xs:include schemaLocation="../../bin/CommonType.xsd"/>
  <xs:include schemaLocation="../../bin/CommonElement.xsd"/>
  <xs:include schemaLocation="Display.xsd"/>
  <xs:complexType name="RazorDataType">
    <xs:choice>
      <xs:element ref="tk:NormalDetailData"/>
      <xs:element ref="tk:NormalEditData"/>
      <xs:element ref="tk:NormalListData"/>
      <xs:element ref="tk:BootcssDetailData"/>
      <xs:element ref="tk:BootcssEditData"/>
      <xs:element ref="tk:BootcssListData"/>
      <xs:element ref="tk:NormalTreeData"/>
      <xs:element ref="tk:NormalQueryData"/>
      <xs:element ref="tk:NormalMultiEditData"/>
      <xs:element ref="tk:NormalMultiDetailData"/>
      <xs:element ref="tk:NormalStatListData"/>
      <xs:any namespace="##local" processContents="lax"/>
      <xs:any namespace="##other" processContents="lax"/>
    </xs:choice>
  </xs:complexType>
  <xs:group name="RazorDataGroup">
    <xs:choice>
      <xs:element ref="tk:NormalDetailData"/>
      <xs:element ref="tk:NormalEditData"/>
      <xs:element ref="tk:NormalListData"/>
      <xs:element ref="tk:BootcssDetailData"/>
      <xs:element ref="tk:BootcssEditData"/>
      <xs:element ref="tk:BootcssListData"/>
      <xs:element ref="tk:NormalTreeData"/>
      <xs:element ref="tk:NormalQueryData"/>
      <xs:element ref="tk:NormalMultiEditData"/>
      <xs:element ref="tk:NormalMultiDetailData"/>
      <xs:any namespace="##local" processContents="lax"/>
      <xs:any namespace="##other" processContents="lax"/>
      <xs:element ref="tk:NormalStatListData"/>
    </xs:choice>
  </xs:group>
  <xs:simpleType name="OperatorPositionType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Left"/>
      <xs:enumeration value="Right"/>
      <xs:enumeration value="None"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BootcssColumnType">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DataDirectionType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Foot"/>
      <xs:enumeration value="Head"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TabDisplayType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Normal"/>
      <xs:enumeration value="Pill"/>
      <xs:enumeration value="NormalJustified"/>
      <xs:enumeration value="PillJustified"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SearchDataMethod">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Like"/>
      <xs:enumeration value="Exactly"/>
      <xs:enumeration value="CheckBoxLike"/>
      <xs:enumeration value="CheckBoxExactly"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TableDisplayType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Normal">
        <xs:annotation>
          <xs:documentation>普通表格</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Striped">
        <xs:annotation>
          <xs:documentation>条纹状表格</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Bordered">
        <xs:annotation>
          <xs:documentation>带边框的表格</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Hover">
        <xs:annotation>
          <xs:documentation>鼠标悬停</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Condensed">
        <xs:annotation>
          <xs:documentation>紧缩表格</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RazorContentType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Section"/>
      <xs:enumeration value="RazorFile"/>
      <xs:enumeration value="Text"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RazorOutputDataType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="ContentType" type="tk:RazorContentType" use="required">
          <xs:annotation>
            <xs:documentation>输出内容的方式。Section使用Razor文件定义的Section输出内容。RazorFile使用指定的Razor文件输出内容。Text直接输出定义的文本</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="RazorField">
    <xs:annotation>
      <xs:documentation>定义重载的字段。如果定义，按照定义的方式进行输出。否则按照默认的方式输出</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:RazorOutputDataType">
          <xs:attribute name="NickName" type="xs:Name" use="required">
            <xs:annotation>
              <xs:documentation>重载的字段昵称</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BaseBootcssDataType">
    <xs:sequence>
      <xs:element name="Header" type="tk:RazorOutputDataType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>定义页头显示的内容</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Footer" type="tk:RazorOutputDataType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>定义页脚显示的内容</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="tk:RazorField" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BootcssEditData" type="tk:BootcssEditDataType">
    <xs:annotation>
      <xs:documentation>匹配BootcssEdit和BootcssObjectEdit模板使用的数据</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BootcssDetailData" type="tk:BootcssDetailDataType">
    <xs:annotation>
      <xs:documentation>匹配BootcssDetail模板使用的数据</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="BootcssListFieldType">
    <xs:attribute name="NickName" type="xs:Name" use="required">
      <xs:annotation>
        <xs:documentation>列名的昵称</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Col" type="tk:BootcssColumnType" use="required">
      <xs:annotation>
        <xs:documentation>在12等份中占据的等份数</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Class" type="xs:NMTOKENS">
      <xs:annotation>
        <xs:documentation>额外需要增加的css的class名称</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="BootcssListData">
    <xs:annotation>
      <xs:documentation>匹配BootcssList使用的数据</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseBootcssDataType">
          <xs:choice>
            <xs:element name="RowDisplay" type="tk:RazorOutputDataType">
              <xs:annotation>
                <xs:documentation>定义重载整个列的显示。此处重载后，字段重载将不再有效</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ListField" type="tk:BootcssListFieldType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>定义需要显示的列</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:attribute name="UseGetMoreButton" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>是否使用“更多"按钮获取数据，true使用按钮，false使用传统的页码。默认为false</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="GetMoreButtonCaption" type="xs:string" default="点击获取更多">
            <xs:annotation>
              <xs:documentation>”更多“按钮的标题，默认为”点击获取更多“</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="NoDataCaption" type="xs:string" default="无数据">
            <xs:annotation>
              <xs:documentation>没有数据时的显示。默认为"无数据"</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="QueryResolverName" type="xs:Name"/>
          <xs:attribute name="QueryFieldName" type="xs:Name"/>
          <xs:attribute name="QueryTitle" type="xs:string"/>
          <xs:attribute name="PageNumberCount" type="xs:unsignedInt" default="3">
            <xs:annotation>
              <xs:documentation>最多显示几个页码，默认为3</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Direction" type="tk:DataDirectionType">
            <xs:annotation>
              <xs:documentation>使用GetMore按钮时，在列表的头部或者底部插入获取的数据。默认为Foot底部</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ShowListHeader" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>是否显示表头，默认为False</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ShowBorder" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>显示列表两侧的竖线框。默认为true</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="NormalListData" type="tk:NormalListDataType">
    <xs:annotation>
      <xs:documentation>匹配NormalList、NormalObjectList和NormalDetailList模板使用的数据</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="BootcssEditDataType">
    <xs:complexContent>
      <xs:extension base="tk:BaseBootcssDataType">
        <xs:sequence>
          <xs:element ref="tk:ControlGroup" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="CaptionColumn" type="tk:BootcssColumnType">
          <xs:annotation>
            <xs:documentation>标题在12等份中所占的等份数，默认为2</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DataColumn" type="tk:BootcssColumnType">
          <xs:annotation>
            <xs:documentation>控件在12等份中所占的等份数，默认为10</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SaveButtonCaption" type="xs:string">
          <xs:annotation>
            <xs:documentation>保存按钮的标题，默认为“保存”</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FormAction" type="xs:anyURI">
          <xs:annotation>
            <xs:documentation>Form提交的地址，默认为“.”，即当前地址</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowCaption" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>是否需要显示标题，如果为false，那么整个12等份都显示控件</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="InsertFormat" type="xs:string">
          <xs:annotation>
            <xs:documentation>Insert页面的Title模板，默认为"新建{0}"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="EditFormat" type="xs:string">
          <xs:annotation>
            <xs:documentation>Update页面的Title模板，默认为"修改{0}"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DialogMode" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>标记是否采用Dialog模式打开，默认为False</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NormalEditData" type="tk:NormalEditDataType">
    <xs:annotation>
      <xs:documentation>匹配NormalEdit、NormalObjectEdit和NormalMultiEdit模板使用的数据</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="BootcssDetailDataType">
    <xs:complexContent>
      <xs:extension base="tk:BaseBootcssDataType">
        <xs:attribute name="CaptionColumn" type="tk:BootcssColumnType">
          <xs:annotation>
            <xs:documentation>标题在12等份中所占的等份数，默认为3</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DataColumn" type="tk:BootcssColumnType">
          <xs:annotation>
            <xs:documentation>内容在12等份中所占的等份数，默认为9</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowPicture" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>是否显示图片</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AppendHint" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>是否在内容后添加Hint提示</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MainPicNickName" type="xs:Name">
          <xs:annotation>
            <xs:documentation>在显示图片时，主表存放图片Id的字段昵称，默认为PicId</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PictureTable" type="xs:Name">
          <xs:annotation>
            <xs:documentation>有多幅附图时，子表的表名</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PictureTableIdName" type="xs:Name">
          <xs:annotation>
            <xs:documentation>附图子表的图片Id字段昵称，默认为SmallPicId</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TitleFormat" type="xs:string">
          <xs:annotation>
            <xs:documentation>页面的Title模板，默认为"查看{0}"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ControlGroup">
    <xs:annotation>
      <xs:documentation>展示的控件进行分组</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GroupSection" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>分组的区块</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Caption" type="tk:MultiLanguageType">
                <xs:annotation>
                  <xs:documentation>分组的标题</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Order" type="xs:unsignedInt" use="required">
              <xs:annotation>
                <xs:documentation>分组第一个控件的Order值，在此Order值和EndOrder值之间的控件将进入此分组</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="IsCollaspe" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>该分组起始是否收缩，默认为false</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="EndOrder" type="xs:unsignedInt">
              <xs:annotation>
                <xs:documentation>分组最后一个控件的Order值，如果不填写，将自动获取下一个分组的Order值</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NormalDetailData" type="tk:NormalDetailDataType">
    <xs:annotation>
      <xs:documentation>匹配NormalDetail、NormalObjectDetail、MultiTreeDetail、NormalMultiDetail、NormalTreeDetail和NormalObjectTreeDetail模板使用的数据</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:attributeGroup name="TreeDataAttrGrp">
    <xs:attribute name="ShowNewRootButton" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>是否显示新建根节点的按钮，默认为False</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IsNewRootDialog" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>新建根节点的时候，是否采用Dialog的方式新建，默认为true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ShowUpDownButton" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>是否显示上移，下移的按钮，默认为True</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CanMoveNode" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>是否可以拖动节点，默认为False</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="UseWholeRow" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>是否选中整行，默认为False</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="NormalTreeData">
    <xs:annotation>
      <xs:documentation>匹配NormalTree和NormalObjectTree模板使用的数据</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tk:TreeDataAttrGrp"/>
      <xs:attribute name="DialogHeight" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation>弹出对话框的高度，如果不设定，默认高度为400</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="NormalQueryData">
    <xs:annotation>
      <xs:documentation>匹配NormalQueryCondition和NormalQueryResult模板使用的数据</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseBootcssDataType">
          <xs:attribute name="ShowTitle" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>是否显示标题，缺省为true</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="HideCaption" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>查询条件中是否要隐去Caption，默认为false。当选项开启时，只有PlaceHolder为true的，才会显示Caption</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ShrinkMeta" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>结果的MetaData是否要根据数据表的内容进行收缩。默认为false</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="NoDataCaption" type="xs:string">
            <xs:annotation>
              <xs:documentation>没有数据时的显示。默认为"无数据"</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Export" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Table导出功能，默认为true</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="HeadAlign" type="tk:AlignType">
            <xs:annotation>
              <xs:documentation>表头的Align，默认为Left</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ResponseFunc" type="xs:string">
            <xs:annotation>
              <xs:documentation>配置当查询按钮提交条件到后端，当结果成功返回后，所需的js处理。此处谨慎使用，一旦填写，Bootstrap Table的启用将有填写的js负责</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Sortable" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>每列是否支持排序，默认为true</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ButtonCaption" type="xs:string">
            <xs:annotation>
              <xs:documentation>按钮的文字，默认为“查询”</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NormalEditDataType">
    <xs:complexContent>
      <xs:extension base="tk:BootcssEditDataType">
        <xs:attribute name="ShowTitle" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>是否显示标题，缺省为true</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="NormalCancelCaption" type="xs:string">
          <xs:annotation>
            <xs:documentation>在页面模式下，返回按钮的标题，默认为“返回”</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DialogCancelCaption" type="xs:string">
          <xs:annotation>
            <xs:documentation>在对话框模式下，返回按钮的标题，默认为“关闭”</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ContainerType">
          <xs:annotation>
            <xs:documentation>整个布局使用container或者container-fluid，默认是Fluid</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="Fluid"/>
              <xs:enumeration value="Container"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RowDisplay" type="tk:RazorOutputDataType">
    <xs:annotation>
      <xs:documentation>定义重载整个列的显示。此处重载后，字段重载将不再有效</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NormalMultiEditData">
    <xs:annotation>
      <xs:documentation>匹配NormalMultiEdit模板使用的数据</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:NormalEditDataType">
          <xs:sequence>
            <xs:element name="TableData" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>配置表的现实数据</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="tk:RazorField" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element ref="tk:RowDisplay" minOccurs="0"/>
                  <xs:element ref="tk:ControlGroup" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="TableName" type="xs:Name" use="required">
                  <xs:annotation>
                    <xs:documentation>需要配置的表名</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="OnRowAdded" type="xs:Name">
                  <xs:annotation>
                    <xs:documentation>如果配置，当js增加行时，将被触发</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="OnRowDeleted" type="xs:Name">
                  <xs:annotation>
                    <xs:documentation>如果配置，当js删除行时，将被触发</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NormalDetailDataType">
    <xs:complexContent>
      <xs:extension base="tk:BootcssDetailDataType">
        <xs:sequence>
          <xs:element ref="tk:ControlGroup" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="DialogMode" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>标记是否采用Dialog模式打开，默认为False</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowTitle" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>是否显示标题，缺省为true</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IgnoreEmptyField" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>不显示值为空的字段，默认为true</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DialogHeight" type="xs:unsignedInt">
          <xs:annotation>
            <xs:documentation>弹出对话框的高度，如果不设定，默认高度为400</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NormalMultiDetailData">
    <xs:annotation>
      <xs:documentation>匹配NormalMultiDetail模板使用的数据</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:NormalDetailDataType">
          <xs:sequence>
            <xs:element name="TableData" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>配置以None方式显示的表的显示数据</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="tk:RazorField" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element ref="tk:ControlGroup" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="TableName" type="xs:Name" use="required">
                  <xs:annotation>
                    <xs:documentation>需要配置的表名</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
        <!-- <xs:attribute name="UseTabStyle" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>仅在工作流的时候有效，在显示的时候，采用Tab的方式显示表的数据。默认值为false</xs:documentation>
            </xs:annotation>
          </xs:attribute>-->
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NormalListDataType">
    <xs:complexContent>
      <xs:extension base="tk:BaseBootcssDataType">
        <xs:sequence>
          <xs:element ref="tk:RowDisplay" minOccurs="0"/>
          <xs:element name="RowOperator" type="tk:RazorOutputDataType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>定义重载行操作符的显示。</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RowOperatorStyle" minOccurs="0">
            <xs:annotation>
              <xs:documentation>定义列表操作符显示的风格</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="Style">
                <xs:annotation>
                  <xs:documentation>操作显示的样式。默认为Tile平铺。Menu将所有操作置于下拉菜单下。Mixture将一部分操作平铺，剩下的置于菜单下</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="Tile"/>
                    <xs:enumeration value="Menu"/>
                    <xs:enumeration value="Mixture"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="MenuCaption" type="xs:string">
                <xs:annotation>
                  <xs:documentation>配置Menu或者Mixture时，菜单显示的标题名称。默认为”操作"</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="FixOperatorIds">
                <xs:annotation>
                  <xs:documentation>选择Mixture时，需要平铺的操作Id，多个Operator时中间用空格隔开。默认为Update Delete</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:list itemType="xs:Name"/>
                </xs:simpleType>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="NoDataCaption" type="xs:string" default="无数据">
          <xs:annotation>
            <xs:documentation>没有数据时的显示。默认为"无数据"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="OperationCaption" type="xs:string">
          <xs:annotation>
            <xs:documentation>操作的标题，默认为"操作"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowListHeader" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>是否显示表头，默认为True</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="OperatorPosition" type="tk:OperatorPositionType">
          <xs:annotation>
            <xs:documentation>是否显示操作栏，默认为Left</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowPage" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>是否显示分页栏，默认为True</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PageNumberCount" type="xs:unsignedInt" default="10">
          <xs:annotation>
            <xs:documentation>最多显示几个页码，默认为10</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Display" type="tk:TableDisplayType">
          <xs:annotation>
            <xs:documentation>表格显示形式，默认为Normal</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="OperatorWidth" type="xs:unsignedInt">
          <xs:annotation>
            <xs:documentation>操作栏的宽度，默认长度为100像素点</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TabDisplayType" type="tk:TabDisplayType">
          <xs:annotation>
            <xs:documentation>Tab页显示的样式，默认为Normal</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SearchCheckBox" type="tk:SearchDataMethod">
          <xs:annotation>
            <xs:documentation>查询时，是否显示“精确"的CheckBox，以及其初始值设定。默认不显示Checkbox以Like的方式查询</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DialogHeight" type="xs:unsignedInt">
          <xs:annotation>
            <xs:documentation>弹出对话框的高度，如果不设定，默认高度为400</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowTitle" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>是否显示标题，缺省为true</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowExportExcel" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>是否显示导出Excel的按钮，缺省为true</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowHintInHead" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>是否在表头上显示Hint（如果配置了Hint），默认为false</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowTabCount" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>是否在Tab页显示每种页面的计数，默认为false</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NormalStatListData">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:NormalListDataType">
          <xs:sequence>
            <xs:element name="FieldDisplay" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>如果某个字段配置的Display对象和合计/小计不同，可以在此重载</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:group ref="tk:DisplayGroup"/>
                <xs:attribute name="NickName" type="xs:Name" use="required">
                  <xs:annotation>
                    <xs:documentation>字段昵称</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="SubTotalCaption" type="xs:string">
            <xs:annotation>
              <xs:documentation>小计的标题，默认为“小计”</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="SubTotalPosition" type="tk:DataDirectionType">
            <xs:annotation>
              <xs:documentation>小计的位置，默认为Foot，即底部显示</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TotalCaption" type="xs:string">
            <xs:annotation>
              <xs:documentation>合计的标题，默认为“合计”</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TotalPosition" type="tk:DataDirectionType">
            <xs:annotation>
              <xs:documentation>合计的位置，默认为Foot，即底部显示</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
