CoreWebTest/TestWeb/Xml/schema/v5/SubItems/DingTalkMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by cjy (baison) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tk="http://www.qdocuments.net" targetNamespace="http://www.qdocuments.net" elementFormDefault="qualified">
  <xs:include schemaLocation="../../bin/CommonType.xsd"/>
  <xs:attributeGroup name="AppNameAttrGroup">
    <xs:attribute name="AppName" type="xs:Name">
      <xs:annotation>
        <xs:documentation>发送消息的App的ShortName，如果不配置将以默认的AppName发送</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="DingTalkMessageType">
    <xs:choice>
      <xs:element ref="tk:TextMessage"/>
      <xs:element ref="tk:ImageMessage"/>
      <xs:element ref="tk:VoiceMessage"/>
      <xs:element ref="tk:FileMessage"/>
      <xs:element ref="tk:LinkMessage"/>
      <xs:element ref="tk:OAMessage"/>
      <xs:element ref="tk:MarkdownMessage"/>
      <xs:element ref="tk:ActionCardMessage"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="TextMessage">
    <xs:annotation>
      <xs:documentation>文本消息</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Text" type="xs:string">
          <xs:annotation>
            <xs:documentation>消息内容
。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImageMessage" type="tk:MediaType">
    <xs:annotation>
      <xs:documentation>图片消息</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VoiceMessage">
    <xs:annotation>
      <xs:documentation>语音消息</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:MediaType">
          <xs:sequence>
            <xs:element name="Duration">
              <xs:annotation>
                <xs:documentation>音频时长</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:unsignedInt">
                  <xs:maxExclusive value="60"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileMessage" type="tk:MediaType">
    <xs:annotation>
      <xs:documentation>文件消息</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LinkMessage">
    <xs:annotation>
      <xs:documentation>链接消息</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageUrl" type="xs:anyURI">
          <xs:annotation>
            <xs:documentation>消息点击链接地址。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PicUrl" type="tk:MediaType">
          <xs:annotation>
            <xs:documentation>图片地址</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Title" type="xs:string">
          <xs:annotation>
            <xs:documentation>消息标题。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Text" type="xs:string">
          <xs:annotation>
            <xs:documentation>消息描述。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OAMessage">
    <xs:annotation>
      <xs:documentation>OA消息</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageUrl" type="xs:anyURI">
          <xs:annotation>
            <xs:documentation>消息点击链接地址。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PcMessageUrl" type="xs:anyURI" minOccurs="0">
          <xs:annotation>
            <xs:documentation>PC端点击消息时跳转到的地址。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Head">
          <xs:annotation>
            <xs:documentation>消息头部内容</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BgColor" type="xs:string">
                <xs:annotation>
                  <xs:documentation>消息头部的背景颜色</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Text" type="xs:string">
                <xs:annotation>
                  <xs:documentation>消息的头部标题，长度限制为最多10个字符。</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Body">
          <xs:annotation>
            <xs:documentation>消息体</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Title" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>消息体的标题。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Form" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>消息体的表单，最多显示6个</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence maxOccurs="6">
                    <xs:element name="Key" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>消息体的关键字</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Value" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>消息体的关键字对应的值。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Rich" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>单行富文本信息</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Num" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>富文本信息的数目。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Unit" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>富文本信息的单位</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Content" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>消息体的内容，最多显示3行。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Image" type="tk:MediaType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>消息体中的图片</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="FileCount" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>自定义的附件数目。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Author" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>自定义的作者名字。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkdownMessage">
    <xs:annotation>
      <xs:documentation>markdown消息</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Title" type="xs:string">
          <xs:annotation>
            <xs:documentation>首屏会话透出的展示内容。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Text" type="xs:string">
          <xs:annotation>
            <xs:documentation>markdown格式的消息。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionCardMessage">
    <xs:annotation>
      <xs:documentation>卡片消息</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Title" type="xs:string">
          <xs:annotation>
            <xs:documentation>透出到会话列表和通知的文案。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Markdown" type="xs:string">
          <xs:annotation>
            <xs:documentation>消息内容，支持markdown。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:choice>
          <xs:sequence>
            <xs:element name="SingleTitle" type="xs:string">
              <xs:annotation>
                <xs:documentation>使用整体跳转ActionCard样式时的标题</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="SingleUrl" type="xs:string">
              <xs:annotation>
                <xs:documentation>消息点击链接地址。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:sequence>
            <xs:element name="ButtonOrientation">
              <xs:annotation>
                <xs:documentation>按钮排列方式</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="Vertical"/>
                  <xs:enumeration value="Horizontal"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Button" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Title" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>使用独立跳转ActionCard样式时的按钮的标题</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="ActionUrl" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>消息点击链接地址。Evaluator表达式，支持row,table,dataSet,resolver四个变量，请合理使用</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MediaType">
    <xs:choice>
      <xs:element ref="tk:FileMedia">
        <xs:annotation>
          <xs:documentation>将指定的文件上传到钉钉，并返回相应的MediaId</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##local" processContents="lax"/>
      <xs:any namespace="##other" processContents="lax"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="FileMedia">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:attribute name="FilePosition" type="tk:FilePosition" use="required">
            <xs:annotation>
              <xs:documentation>文件的目录位置</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="FileName" type="xs:string">
            <xs:annotation>
              <xs:documentation>如果希望给该上传文件取一个和文件名不同的名字，在这里命名</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="tk:AppNameAttrGroup"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DingTalkSendMessageType">
    <xs:choice>
      <xs:element name="AppMessage">
        <xs:annotation>
          <xs:documentation>发送微应用消息</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UserIdList" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>用户Id的列表，支持Evaluator表达式。多个用户中间用,分开</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="DeptIdList" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>部门Id的列表，支持Evaluator表达式。多个用户中间用,分开</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Message" type="tk:DingTalkMessageType">
              <xs:annotation>
                <xs:documentation>发送的消息</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="ToAllUser" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>是否发送给所有人，默认为false</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="tk:AppNameAttrGroup"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="ChatMessage">
        <xs:annotation>
          <xs:documentation>发送聊天室消息</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ChatName" type="xs:Name"/>
            <xs:element name="Message" type="tk:DingTalkMessageType"/>
          </xs:sequence>
          <xs:attributeGroup ref="tk:AppNameAttrGroup"/>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>
