CoreWebTest/TestWeb/Xml/schema/v5/SubItems/MetaData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Chen Jiangyong (Baison) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tk="http://www.qdocuments.net" targetNamespace="http://www.qdocuments.net" elementFormDefault="qualified">
  <xs:include schemaLocation="DataXmlCommon.xsd"/>
  <xs:include schemaLocation="Common.xsd"/>
  <xs:include schemaLocation="Scheme.xsd"/>
  <xs:include schemaLocation="TableOutput.xsd"/>
  <xs:complexType name="MetaDataType">
    <xs:group ref="tk:MetaDataGroup"/>
  </xs:complexType>
  <xs:group name="MetaDataGroup">
    <xs:choice>
      <xs:element ref="tk:SingleXmlMetaData"/>
      <xs:element ref="tk:SingleClassMetaData"/>
      <xs:element ref="tk:CompositeMetaData"/>
      <xs:element ref="tk:StdCodeTableMetaData"/>
      <xs:element ref="tk:DetailMetaData"/>
      <xs:element ref="tk:MasterDetailMetaData"/>
      <xs:element ref="tk:DbSingleCustomTable"/>
      <xs:element ref="tk:MultipleDetailMetaData"/>
      <xs:element ref="tk:MultipleMDMetaData"/>
      <xs:element name="NoMetaData" type="tk:EmptyType">
        <xs:annotation>
          <xs:documentation>没有MetaData</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="tk:QueryMetaData"/>
      <xs:element ref="tk:SingleDetailListMetaData"/>
      <xs:element ref="tk:SingleSchemaMetaData"/>
      <xs:any namespace="##local" processContents="lax"/>
      <xs:any namespace="##other" processContents="lax"/>
      <xs:element name="MultipleMetaData">
        <xs:annotation>
          <xs:documentation>多表的MetaData</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Master" type="tk:SingleMetaDataType">
              <xs:annotation>
                <xs:documentation>主表的MetaData</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="OtoOTable" type="tk:SingleMetaDataType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>一对一表的MetaData</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="OtoMTable" type="tk:DetailMetaDataType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>一对多表的MetaData</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
  <xs:group name="SingleMetaDataGroup">
    <xs:choice>
      <xs:element ref="tk:SingleXmlMetaData"/>
      <xs:element ref="tk:SingleClassMetaData"/>
      <xs:element ref="tk:StdCodeTableMetaData"/>
      <xs:element ref="tk:DetailMetaData"/>
      <xs:element ref="tk:DbSingleCustomTable"/>
      <xs:any namespace="##local" processContents="lax"/>
      <xs:any namespace="##other" processContents="lax"/>
      <xs:element ref="tk:SingleSchemaMetaData"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="SingleMetaDataType">
    <xs:group ref="tk:SingleMetaDataGroup"/>
  </xs:complexType>
  <xs:attributeGroup name="MultipleAttrGroup">
    <xs:attributeGroup ref="tk:MultipleFixAttrGroup"/>
    <xs:attribute name="ListStyle" use="required">
      <xs:annotation>
        <xs:documentation>Detail表显示的风格（推荐使用对应的TableOutput，该属性存留为了兼容老版本）</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="Table"/>
          <xs:enumeration value="Normal"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="DetailMetaDataType">
    <xs:complexContent>
      <xs:extension base="tk:SingleMetaDataType">
        <xs:sequence>
          <xs:element name="TableOutput" type="tk:TableOutputType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>设定表的输出排布方式。由于是新增标记，所以，如果不设定，将根据ListStyle的值自动选定相应的标签。如果是Table，使用TableOutput，如果是Normal，使用TableNormalOutput</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="tk:MultipleAttrGroup"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:attributeGroup name="MetaAttrGroup">
    <xs:attributeGroup ref="tk:ColumnCountAttrGroup"/>
    <xs:attribute name="CommitDetail" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>是否提交标记为Label的字段，默认为false</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="FindControlMethod">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Id"/>
      <xs:enumeration value="Name"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="JsonObjectType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Array"/>
      <xs:enumeration value="Object"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SingleXmlMetaData">
    <xs:annotation>
      <xs:documentation>基于Tk5的DataXml的单表MetaData（已过时，建议使用SingleSchemaMetaData）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:MetaOverrideType">
          <xs:attribute name="DataXml" type="xs:anyURI" use="required">
            <xs:annotation>
              <xs:documentation>引用的DataXml，以Xml\Data为起始路径</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="tk:MetaAttrGroup"/>
          <xs:attribute name="DisableAutoDetailLink" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>禁止产生自动链接到Detail的链接，默认为false</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleClassMetaData">
    <xs:annotation>
      <xs:documentation>标记了TypeSchemeAttribute类型的单表MetaData（已过时，建议使用SingleSchemaMetaData）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:MetaOverrideType">
          <xs:attribute name="ClassRegName" type="xs:Name" use="required">
            <xs:annotation>
              <xs:documentation>用TypeSchemeAttribute标记的类型的注册名</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="tk:MetaAttrGroup"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MetaOverrideType">
    <xs:sequence>
      <xs:element name="TableDesc" type="tk:MultiLanguageType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>重载表描述，支持多语言结构</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="tk:Add" minOccurs="0"/>
      <xs:element ref="tk:Override" minOccurs="0"/>
      <xs:element ref="tk:Except" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="TableName" type="xs:Name">
      <xs:annotation>
        <xs:documentation>重载表名</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SearchCtrlMethod">
      <xs:annotation>
        <xs:documentation>查找界面控件的方法，默认通过Id查找，如果是多条记录，可以修改为</xs:documentation>
        <xs:documentation>!</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="JsonDataType" type="tk:JsonObjectType">
      <xs:annotation>
        <xs:documentation>构造Json时，是构造成Object，还是构造成Array</xs:documentation>
        <xs:documentation>!</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="BaseFieldType">
    <xs:attribute name="NickName" type="xs:Name" use="required">
      <xs:annotation>
        <xs:documentation>字段的昵称</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="FieldType">
    <xs:complexContent>
      <xs:extension base="tk:BaseFieldType">
        <xs:sequence>
          <xs:element name="DisplayName" type="tk:MultiLanguageType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重载显示名称，支持多语言结构</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Hint" type="tk:HintDataType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重载提示，支持多语言结构</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice minOccurs="0">
            <xs:element name="CodeTable" type="tk:DecoderType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>重载代码表配置</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="EasySearch" type="tk:DecoderType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>重载EasySearch配置</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="Layout" type="tk:LayoutType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重载控件布局</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ListDetail" type="tk:ListDetailType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重载List和Detail界面的特有特性</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Edit" type="tk:EditType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重载Insert和Update界面的特有特性</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Extension" type="tk:FieldExtensionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重载字段的扩展属性</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="IsEmpty" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>重载是否为空</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Order" type="xs:unsignedInt">
          <xs:annotation>
            <xs:documentation>重载显示的顺序</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Control" type="tk:ControlType">
          <xs:annotation>
            <xs:documentation>重载显示的控件</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PlaceHoder" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>重载是否在PlaceHolder中放DisplayName</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Length" type="xs:unsignedInt">
          <xs:annotation>
            <xs:documentation>重载字段的长度</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Add">
    <xs:annotation>
      <xs:documentation>生成的MetaData中，添加部分字段（只能是Virtual或者Calc字段）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AddField" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>需要添加的字段</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DisplayName" type="tk:MultiLanguageType">
                <xs:annotation>
                  <xs:documentation>显示名称，支持多语言结构</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Hint" type="tk:HintDataType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>提示，支持多语言结构</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:choice minOccurs="0">
                <xs:element name="CodeTable" type="tk:DecoderType" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>代码表配置</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="EasySearch" type="tk:DecoderType" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>EasySearch配置</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:choice>
              <xs:element name="Layout" type="tk:LayoutType">
                <xs:annotation>
                  <xs:documentation>控件布局</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ListDetail" type="tk:ListDetailType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>List和Detail界面的特有特性</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Edit" type="tk:EditType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Insert和Update界面的特有特性</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Extension" type="tk:FieldExtensionType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>字段的扩展属性</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="FieldName" type="xs:Name" use="required">
              <xs:annotation>
                <xs:documentation>字段名</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="DataType" type="tk:TkDataType" use="required">
              <xs:annotation>
                <xs:documentation>字段的类型</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Control" type="tk:ControlType" use="required">
              <xs:annotation>
                <xs:documentation>显示的控件</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Order" type="xs:unsignedInt" use="required">
              <xs:annotation>
                <xs:documentation>显示的顺序</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Kind" use="required">
              <xs:annotation>
                <xs:documentation>字段的类型，仅支持增加计算字段或者虚拟字段。数据实体字段只能在DataXml中定义</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="Calc"/>
                  <xs:enumeration value="Virtual"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="NickName" type="xs:Name" use="required">
              <xs:annotation>
                <xs:documentation>字段的昵称</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="IsEmpty" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>是否为空，默认为true</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Length" type="xs:unsignedInt">
              <xs:annotation>
                <xs:documentation>字段的长度</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="PlaceHolder" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>在PlaceHoder中填写DisplayName，默认为true</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Override">
    <xs:annotation>
      <xs:documentation>生成的MetaData中，重载已有字段的部分属性</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Field" type="tk:FieldType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>需要修改的字段，由于是重载，注释中所有的默认值都是无效的，只有配置的才会重载，不配置不会重载</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Except">
    <xs:annotation>
      <xs:documentation>生成的MetaData中，去除相关的字段</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DelField" type="tk:BaseFieldType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>需要删除的字段</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompositeMetaData">
    <xs:annotation>
      <xs:documentation>根据具体条件来选择相应配置的MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Item" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>单个项</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Condition" type="tk:NormalConditionType">
                <xs:annotation>
                  <xs:documentation>条件</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:group ref="tk:MetaDataGroup">
                <xs:annotation>
                  <xs:documentation>适配条件后，使用对应的MetaData</xs:documentation>
                </xs:annotation>
              </xs:group>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StdCodeTableMetaData">
    <xs:annotation>
      <xs:documentation>标准代码表的单表MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="TableName" type="xs:Name" use="required">
        <xs:annotation>
          <xs:documentation>当UseQueryString为false时，配置为表名，通常以CD_开始。当UseQueryString为true时，配置为QueryString的Name。</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ShowCodeValue" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否显示代码字段，默认为false，即不编辑代码字段</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ShowSort" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否显示排序字段，默认为false，即不编辑排序字段</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ShowPy" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否显示拼音字段，默认为false，即不在新建页面显示该字段</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PyCaption" type="xs:string">
        <xs:annotation>
          <xs:documentation>拼音的标题</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="UseQueryString" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>表名是根据配置还是读取自QueryString的开关，默认为false。</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailMetaData" type="tk:DetailMetaDataType">
    <xs:annotation>
      <xs:documentation>支持单表多记录编辑的单表MetaData</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MasterDetailMetaData">
    <xs:annotation>
      <xs:documentation>主从表的MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Master" type="tk:SingleMetaDataType">
          <xs:annotation>
            <xs:documentation>主表的MetaData</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Detail" type="tk:DetailMetaDataType">
          <xs:annotation>
            <xs:documentation>从表的MetaData</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbSingleCustomTable">
    <xs:annotation>
      <xs:documentation>通过SYS_CUSTOM_TABLE表的定义获取的单表MetaData，该配置只有包含了YJC.Toolkit.SysFunction.dll才有效</xs:documentation>
      <xs:documentation>!</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tk:__tk_ContextGroup"/>
      <xs:attribute name="TableName" type="xs:Name" use="required">
        <xs:annotation>
          <xs:documentation>在SYS_CUSTOM_TABLE中CT_TABLE_NAME的表名</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ColumnCount" type="tk:__ColumnCountType">
        <xs:annotation>
          <xs:documentation>一行几列的数目，范围在1..5之间。默认为3</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipleDetailMetaData">
    <xs:annotation>
      <xs:documentation>单主表多从表的MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Master" type="tk:SingleMetaDataType">
          <xs:annotation>
            <xs:documentation>主表</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Detail" type="tk:DetailMetaDataType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>从表</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipleMDMetaData">
    <xs:annotation>
      <xs:documentation>多主表多从表的MetaData</xs:documentation>
      <xs:documentation>!</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Master" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>主表</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="tk:SingleMetaDataType">
                <xs:attribute name="Main" type="xs:boolean">
                  <xs:annotation>
                    <xs:documentation>只有一个是可以设置为True，标志其为最主要的表。当只有一个时，无论是否设置都无所谓。当有多个时，有且仅有一个是True。不填默认为false</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Detail" type="tk:DetailMetaDataType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>从表</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryMetaData">
    <xs:annotation>
      <xs:documentation>根据条件输出查询结果的MetaData，即在Get时，输出Condition的MetaData，Post时输出Result的MetaData。无论当前页面的Style是什么，结果都是List的页面的MetaData</xs:documentation>
      <xs:documentation>!</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Condition">
          <xs:annotation>
            <xs:documentation>查询条件的MetaData，只有配置Search=true的Field才会出现在查询项目上</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:group ref="tk:SingleMetaDataGroup"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Result">
          <xs:annotation>
            <xs:documentation>查询结果的MetaData</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:group ref="tk:SingleMetaDataGroup"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleDetailListMetaData">
    <xs:annotation>
      <xs:documentation>在编辑和列表时，使用主表的MetaData，在详细页使用主从配置的MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Main" type="tk:SingleMetaDataType">
          <xs:annotation>
            <xs:documentation>主表的MetaData</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Detail" type="tk:DetailMetaDataType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>从表的MetaData，在Detail和DetailList中使用</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleSchemaMetaData">
    <xs:annotation>
      <xs:documentation>从scheme中获取基本数据，形成单表的MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:MetaOverrideType">
          <xs:sequence>
            <xs:element name="Scheme" type="tk:TableSchemeExType"/>
          </xs:sequence>
          <xs:attributeGroup ref="tk:MetaAttrGroup"/>
          <xs:attribute name="DisableAutoDetailLink" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>禁止产生自动链接到Detail的链接，默认为false</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
