CoreTest/TestConsoleApp/Xml/schema/v5/Workflow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Chen Jiangyong (Baison) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tk="http://www.qdocuments.net" targetNamespace="http://www.qdocuments.net" elementFormDefault="qualified">
  <xs:include schemaLocation="../bin/CommonElement.xsd"/>
  <xs:include schemaLocation="../bin/CommonType.xsd"/>
  <xs:element name="Workflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DisplayName" type="tk:MultiLanguageType"/>
        <xs:element name="Description" type="tk:MultiLanguageType"/>
        <xs:element name="Steps">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element ref="tk:Begin"/>
              <xs:element ref="tk:End"/>
              <xs:element ref="tk:Route"/>
              <xs:element ref="tk:Auto"/>
              <xs:element ref="tk:Manual"/>
              <xs:element ref="tk:Merge"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element ref="tk:TimeLimiter" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="Id" type="xs:unsignedInt" use="required"/>
      <xs:attribute name="Name" type="xs:Name" use="required"/>
      <xs:attribute name="Retrievable" type="xs:boolean"/>
      <xs:attribute name="Priority">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="High"/>
            <xs:enumeration value="Normal"/>
            <xs:enumeration value="Low"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ContentXml" type="xs:anyURI"/>
      <xs:attribute name="IsSaveContent" type="xs:boolean"/>
      <xs:attribute name="UseApprove" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BaseStepConfigType">
    <xs:sequence>
      <xs:element name="DisplayName" type="tk:MultiLanguageType"/>
      <xs:element name="PrevStep" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NextStep" type="tk:StepConnectionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="Height" type="xs:unsignedInt"/>
    <xs:attribute name="Width" type="xs:unsignedInt"/>
    <xs:attribute name="Left" type="xs:unsignedInt"/>
    <xs:attribute name="Top" type="xs:unsignedInt"/>
    <xs:attribute name="Name" type="xs:ID" use="required"/>
  </xs:complexType>
  <xs:complexType name="StepConnectionType">
    <xs:attribute name="FromX" type="xs:unsignedInt"/>
    <xs:attribute name="FromY" type="xs:unsignedInt"/>
    <xs:attribute name="ToX" type="xs:unsignedInt"/>
    <xs:attribute name="ToY" type="xs:unsignedInt"/>
    <xs:attribute name="StepName" type="xs:IDREF" use="required"/>
  </xs:complexType>
  <xs:complexType name="OperationType">
    <xs:sequence>
      <xs:element name="DisplayName" type="tk:MultiLanguageType"/>
      <xs:element name="ButtonCaption" type="tk:MultiLanguageType"/>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:Name" use="required"/>
    <xs:attribute name="PlugIn" type="xs:Name" use="required"/>
  </xs:complexType>
  <xs:element name="Error">
    <xs:complexType>
      <xs:attribute name="ProcessType">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Abort"/>
            <xs:enumeration value="Retry"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="RetryTimes" type="xs:unsignedInt" default="10"/>
      <xs:attribute name="Interval" type="xs:string" default="1.00:00:00"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeLimiter">
    <xs:complexType>
      <xs:attribute name="Enabled" type="xs:boolean"/>
      <xs:attribute name="Time" type="xs:string" use="required"/>
      <xs:attribute name="IsWorkDay" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Begin">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseStepConfigType">
          <xs:attribute name="CreatorRegName" type="xs:Name" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="End">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseStepConfigType">
          <xs:sequence>
            <xs:element ref="tk:Error" minOccurs="0"/>
            <xs:element name="History" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="PlugRegName" type="xs:Name"/>
          <xs:attribute name="EnableModify" type="xs:boolean"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Auto">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseStepConfigType">
          <xs:sequence>
            <xs:element ref="tk:Error" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="PlugRegName" type="xs:Name" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Merge">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseStepConfigType">
          <xs:sequence>
            <xs:element name="Merger">
              <xs:complexType>
                <xs:choice>
                  <xs:element name="AllFinish"/>
                  <xs:element name="PartFinish">
                    <xs:complexType>
                      <xs:attribute name="Type" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="Percent"/>
                            <xs:enumeration value="Count"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="Number" type="xs:double" use="required"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:any namespace="##local" processContents="lax"/>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element ref="tk:Error" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Route">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseStepConfigType">
          <xs:sequence>
            <xs:element name="Connection" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="DisplayName"/>
                </xs:sequence>
                <xs:attribute name="Name" type="xs:Name" use="required"/>
                <xs:attribute name="ExpressionType" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="Expression"/>
                      <xs:enumeration value="PlugIn"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="Expression" type="xs:string" use="required"/>
                <xs:attribute name="NextStepName" type="xs:IDREF" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element ref="tk:Error" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="FillMode">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="None"/>
                <xs:enumeration value="MainOnly"/>
                <xs:enumeration value="All"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Manual">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseStepConfigType">
          <xs:sequence>
            <xs:element name="Actor">
              <xs:complexType>
                <xs:attribute name="ActorType" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="Creator"/>
                      <xs:enumeration value="SingleUser"/>
                      <xs:enumeration value="Organization"/>
                      <xs:enumeration value="OrgRole"/>
                      <xs:enumeration value="OrgPost"/>
                      <xs:enumeration value="Relative"/>
                      <xs:enumeration value="RoleCustomOrg"/>
                      <xs:enumeration value="PostCustomOrg"/>
                      <xs:enumeration value="Custom"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="RelativeStepName" type="xs:Name"/>
                <xs:attribute name="RelativeUserType">
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="Receiver"/>
                      <xs:enumeration value="Processor"/>
                      <xs:enumeration value="Sender"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="RelationType">
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="ParentOrg"/>
                      <xs:enumeration value="ParentDept"/>
                      <xs:enumeration value="ParentPost"/>
                      <xs:enumeration value="GrandParentOrg"/>
                      <xs:enumeration value="GrandParentDept"/>
                      <xs:enumeration value="GrandParentPost"/>
                      <xs:enumeration value="SameOrg"/>
                      <xs:enumeration value="SameDept"/>
                      <xs:enumeration value="SamePost"/>
                      <xs:enumeration value="SamePerson"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="Calculation">
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="Expression"/>
                      <xs:enumeration value="PlugIn"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="Expression" type="xs:string"/>
                <xs:attribute name="ActorInfo1" type="xs:string"/>
                <xs:attribute name="ActorInfo2" type="xs:string"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="Process">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="UIOperation" type="tk:OperationType"/>
                  <xs:element name="NonUIOperation" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="tk:OperationType">
                          <xs:attribute name="NeedPrompt" type="xs:boolean"/>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Back" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="BackStepName" type="xs:Name" use="required"/>
                <xs:attribute name="PlugRegName" type="xs:Name"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="Notify" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="NotifyAction" type="xs:Name" use="required"/>
                <xs:attribute name="ContentProvider" type="xs:Name" use="required"/>
                <xs:attribute name="NotSendSelf" type="xs:boolean" default="true"/>
              </xs:complexType>
            </xs:element>
            <xs:element ref="tk:TimeLimiter" minOccurs="0"/>
            <xs:element ref="tk:Error" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="ContainsSave" type="xs:boolean"/>
          <xs:attribute name="ContentXml" type="xs:anyURI"/>
          <xs:attribute name="ProcessXml" type="xs:anyURI"/>
          <xs:attribute name="UseApprove" type="xs:boolean"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
