NetWebTest/Xml/schema/v6/SubItems/Field.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by cjy (baison) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tk="http://www.qdocuments.net" targetNamespace="http://www.qdocuments.net" elementFormDefault="qualified">
  <xs:include schemaLocation="../../bin/CommonType.xsd"/>
  <xs:include schemaLocation="../../bin/CommonElement.xsd"/>
  <xs:include schemaLocation="DataXmlCommon.xsd"/>
  <xs:include schemaLocation="Control.xsd"/>
  <xs:include schemaLocation="Constraint.xsd"/>
  <xs:group name="TableFieldGroup">
    <xs:choice>
      <xs:element ref="tk:Field"/>
      <xs:element ref="tk:TrackFieldGroup"/>
      <xs:element ref="tk:UploadFieldGroup"/>
      <xs:element ref="tk:DbTreeFieldGroup"/>
      <xs:element ref="tk:WorkflowFieldGroup"/>
      <xs:any namespace="##local" processContents="lax"/>
    </xs:choice>
  </xs:group>
  <xs:attributeGroup name="StandardAttrGrp">
    <xs:attribute name="UseStandard" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>是否使用规范，默认为true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="Field">
    <xs:annotation>
      <xs:documentation>常规字段定义</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FieldName" type="xs:Name">
          <xs:annotation>
            <xs:documentation>字段名</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="NickName" type="xs:Name">
          <xs:annotation>
            <xs:documentation>字段的昵称</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DisplayName" type="tk:MultiLanguageType">
          <xs:annotation>
            <xs:documentation>字段的显示名</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Length" type="xs:unsignedInt" minOccurs="0">
          <xs:annotation>
            <xs:documentation>如果是字符串或者Binary类型时，字段的长度</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="tk:Layout" minOccurs="0"/>
        <xs:element ref="tk:Control"/>
        <xs:element name="Constraints" type="tk:ConstraintsType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>字段的校验，该节点为动态结点，但由于使用的All节点，无法配置xs:any，因此如有必要可以修改相应的schema定义</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ListDetail" type="tk:ListDetailType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>列表和详细页面需用的特性</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Edit" type="tk:EditType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>新建和修改页面需用的特性</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="DataType" type="tk:TkDataType" use="required">
        <xs:annotation>
          <xs:documentation>字段类型</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="IsKey" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否是主键，默认为False</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="IsAutoInc" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否是自增字段，默认为False</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="IsEmpty" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否允许为空，默认是true</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Precision" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation>浮点的精度</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Kind" type="tk:FieldKind">
        <xs:annotation>
          <xs:documentation>字段类型，默认为Data</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Placeholder" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>当为true时，如果控件的Placeholder属性没有设置，自动将DisplayName设置为Placeholder</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Expression" type="xs:string">
        <xs:annotation>
          <xs:documentation>当字段是计算字段时，对应的表达式。表达式的写法同DataColumn的Expression属性</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Layout" type="tk:LayoutType">
    <xs:annotation>
      <xs:documentation>字段的布局</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Control">
    <xs:annotation>
      <xs:documentation>使用的控件</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="tk:ControlGroup"/>
        <xs:element name="Page" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>在某个页面可以按照此配置展示，而不是默认的控件</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:group ref="tk:ControlGroup"/>
            <xs:attribute name="Style" type="tk:PageStyleIntf" use="required">
              <xs:annotation>
                <xs:documentation>指定的页面类型</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Order" type="xs:unsignedInt">
              <xs:annotation>
                <xs:documentation>如果配置，将重载Order</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Order" type="xs:unsignedInt" use="required">
        <xs:annotation>
          <xs:documentation>顺序</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DefaultShow" type="tk:DefaultShowType" use="required">
        <xs:annotation>
          <xs:documentation>默认需要在哪些页面展示</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFieldGroup">
    <xs:annotation>
      <xs:documentation>结合数据库规范，定义上传的字段组信息</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UploadDefinition" minOccurs="0">
          <xs:annotation>
            <xs:documentation>如果不使用标准规范，那么需要自行定义相应的字段</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="FileNameFieldName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseStandard为false，需要指定FileName的字段名，其他均采用默认配置</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="SizeFieldName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseStandard为false，需要指定Size的字段名，其他均采用默认配置</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ContentTypeFieldName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseStandard为false，需要指定ContentType的字段名，其他均采用默认配置</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="FilePathFieldName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseStandard为false，需要指定FilePath的字段名，其他均采用默认配置</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ContentFieldName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseStandard为false，且UseContentField为true，则需要指定Content的字段名，其他均出DataType外，采用默认配置</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element ref="tk:Layout" minOccurs="0"/>
        <xs:element name="UploadControl" type="tk:BaseUploadType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Upload控件定义，如果有特殊配置需要在此指定</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="tk:StandardAttrGrp"/>
      <xs:attribute name="UseContentField" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否使用Content字段，某些Upload的Processor可能不需要Content字段，根据具体业务需要设定。默认值为true</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ContentDataType" type="tk:TkDataType">
        <xs:annotation>
          <xs:documentation>Content字段的类型，默认是Int，即DbUploadProcessor处理的模式</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbTreeFieldGroup">
    <xs:annotation>
      <xs:documentation>结合数据库规范，定义标准树的字段组信息</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DbTreeDefinition" minOccurs="0">
          <xs:annotation>
            <xs:documentation>如果不使用标准规范，那么需要自行定义相应的字段</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="IdNickName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseIdField设置为false，这里指定外部Id字段的昵称</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="NameNickName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseNameField设置为false，这里指定外部Name字段的昵称</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ParentIdFieldName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseStandard为false，需要指定ParentId的字段名，其他均采用默认配置</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="IsLeafFieldName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseStandard为false，需要指定IsLeaf的字段名，其他均采用默认配置</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="LayerFieldName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseStandard为false，需要指定Layer的字段名，其他均采用默认配置</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="tk:StandardAttrGrp"/>
      <xs:attribute name="UseIdField" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否使用表的ID字段作为Tree的Id，默认为true。如果是false，需要在DbTreeDefinition中指定</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="UseNameField" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否使用表的Name字段作为Tree的Name，默认为true。如果是false，需要在DbTreeDefinition中指定</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackFieldGroup">
    <xs:annotation>
      <xs:documentation>结合数据库规范，定义CreateId，CreateDate，UpdateId，UpdateDate四个标准字段。该字段组属于强制性规范，如果不符合，请定义字段解决。</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DateDisplay" type="tk:FieldDisplayType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>定义日期类型显示的Display，默认为DateTimeDisplay</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="CreateDefaultShow" type="tk:DefaultShowType">
        <xs:annotation>
          <xs:documentation>定义Create两个字段的默认显示，默认为List Detail显示，其他页面类型使用NoControl隐藏</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="UpdateDefaultShow" type="tk:DefaultShowType">
        <xs:annotation>
          <xs:documentation>定义Update两个字段的默认显示，默认为List Detail显示，其他页面类型使用NoControl隐藏</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="EasySearchRegName" type="xs:Name"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkflowFieldGroup">
    <xs:annotation>
      <xs:documentation>结合数据库规范，定义工作流的字段组信息</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="WorkflowDefinition" minOccurs="0">
          <xs:annotation>
            <xs:documentation>如果不使用标准规范，那么需要自行定义相应的字段</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="WfIdFieldName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseStandard为false，需要指定WfId的字段名，其他均采用默认配置</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="StepNameFieldName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseStandard为false，需要指定StepName的字段名，其他均采用默认配置</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="IsApplyWfFieldName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseStandard为false，需要指定IsApplyWf的字段名，其他均采用默认配置</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="IsEndFieldName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseStandard为false，需要指定IsEnd的字段名，其他均采用默认配置</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="StatusFieldName" type="xs:Name">
              <xs:annotation>
                <xs:documentation>如果UseStandard为false，需要指定Status的字段名，其他均采用默认配置</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="tk:StandardAttrGrp"/>
      <xs:attribute name="StatusDefaultShow" type="tk:DefaultShowType">
        <xs:annotation>
          <xs:documentation>定义Status的默认显示，默认为List Detail显示，其他页面类型使用NoControl隐藏</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="IsApplyWfDefaultShow" type="tk:DefaultShowType">
        <xs:annotation>
          <xs:documentation>定义IsApplyWf的默认显示，默认为List Detail显示，其他页面类型使用NoControl隐藏</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="IsEndDefaultShow" type="tk:DefaultShowType">
        <xs:annotation>
          <xs:documentation>定义IsEnd的默认显示，默认为List Detail显示，其他页面类型使用NoControl隐藏</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
