NetWebTest/Xml/schema/v5/WorkflowInternalType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by cjy (baison) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tk="http://www.qdocuments.net" targetNamespace="http://www.qdocuments.net" elementFormDefault="qualified">
  <xs:include schemaLocation="../bin/CommonElement.xsd"/>
  <xs:include schemaLocation="../bin/CommonType.xsd"/>
  <xs:element name="ContentXml">
    <xs:annotation>
      <xs:documentation>ContentXml的定义</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="tk:WfContentXmlGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessXml">
    <xs:annotation>
      <xs:documentation>ProcessXml的定义</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="tk:WfProcessXmlGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Processor">
    <xs:annotation>
      <xs:documentation>人工步骤中UI Operator的Processor定义</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element name="RegNameProcessor" type="xs:Name">
          <xs:annotation>
            <xs:documentation>根据配置的注册名实例化相应的Processor</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ProcessXml" type="tk:EmptyType">
          <xs:annotation>
            <xs:documentation>根据ProcessXml的配置生成相应的Processor</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="NextProcessor" type="tk:EmptyType">
          <xs:annotation>
            <xs:documentation>生成下一步的Processor</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ApproveProcessor" type="tk:EmptyType">
          <xs:annotation>
            <xs:documentation>对当前任务进行审批的Processor（配合Approve的ProcessXml使用）</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:any namespace="##local" processContents="lax"/>
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="StepUser">
    <xs:annotation>
      <xs:documentation>人工步骤中步骤用户的定义</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="tk:WfStepUserGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Creator">
    <xs:annotation>
      <xs:documentation>创建工作流的定义</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element name="RegNameCreator" type="xs:Name">
          <xs:annotation>
            <xs:documentation>通过注册名创建Creator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CreatorXml">
          <xs:annotation>
            <xs:documentation>通过配置文件创建Creator</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="FileName" type="xs:anyURI" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:any namespace="##local" processContents="lax"/>
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoProcessor">
    <xs:annotation>
      <xs:documentation>自动步骤中Processor的定义</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="tk:AutoProcesorGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Merger">
    <xs:annotation>
      <xs:documentation>合并步骤中Merger的定义</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element name="AllFinish" type="tk:EmptyType">
          <xs:annotation>
            <xs:documentation>全部完成的Merger</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PartFinish">
          <xs:annotation>
            <xs:documentation>部分完成的Merger</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="Type" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="Percent"/>
                  <xs:enumeration value="Count"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Number" type="xs:double" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:any namespace="##local" processContents="lax"/>
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:group name="WfContentXmlGroup">
    <xs:choice>
      <xs:element name="Empty" type="tk:EmptyType">
        <xs:annotation>
          <xs:documentation>返回ContentXml空对象</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="XmlFile">
        <xs:annotation>
          <xs:documentation>根据Xml文件的路径实例化相应的ContentXml</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="FileName" type="xs:anyURI" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="ApproveContent">
        <xs:annotation>
          <xs:documentation>给配置的ContentXml添加审批的模块</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:group ref="tk:WfContentXmlGroup"/>
        </xs:complexType>
      </xs:element>
      <xs:any namespace="##local" processContents="lax"/>
      <xs:any namespace="##other" processContents="lax"/>
    </xs:choice>
  </xs:group>
  <xs:group name="WfProcessXmlGroup">
    <xs:choice>
      <xs:element name="Empty">
        <xs:annotation>
          <xs:documentation>返回ProcessXml空对象</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="XmlFile">
        <xs:annotation>
          <xs:documentation>根据Xml文件的路径实例化相应的的ProcessXml</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="FileName" type="xs:anyURI" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Approve">
        <xs:annotation>
          <xs:documentation>给配置的ProcessXml添加审批的模块</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:group ref="tk:WfProcessXmlGroup"/>
        </xs:complexType>
      </xs:element>
      <xs:any namespace="##local" processContents="lax"/>
      <xs:any namespace="##other" processContents="lax"/>
    </xs:choice>
  </xs:group>
  <xs:group name="WfStepUserGroup">
    <xs:choice>
      <xs:element name="Creator" type="tk:EmptyType">
        <xs:annotation>
          <xs:documentation>步骤用户是流程创建者</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Organization">
        <xs:annotation>
          <xs:documentation>步骤用户是指定组织下的所有用户</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="OrgCode"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="OrgRole">
        <xs:annotation>
          <xs:documentation>步骤用户是指定组织和指定角色交叉得到用户</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="RoleCode"/>
          <xs:attribute name="OrgCode"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="SingleUser">
        <xs:annotation>
          <xs:documentation>步骤用户是指定的用户Id</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="UserId" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="RoleCustomOrg">
        <xs:annotation>
          <xs:documentation>步骤用户是通过表达式计算得到组织Code和指定的角色Code交叉得到的用户</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="RoleCode" use="required"/>
          <xs:attribute name="Expression" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Relative">
        <xs:annotation>
          <xs:documentation>步骤用户是相对另外一个步骤的用户关系得到有关的用户</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="RelativeStepName" use="required"/>
          <xs:attribute name="RelativeUserType" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="Receiver"/>
                <xs:enumeration value="Processor"/>
                <xs:enumeration value="Sender"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="RelationType" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="ParentOrg"/>
                <xs:enumeration value="ParentDept"/>
                <xs:enumeration value="ParentPost"/>
                <xs:enumeration value="GrandParentOrg"/>
                <xs:enumeration value="GrandParentDept"/>
                <xs:enumeration value="GrandParentPost"/>
                <xs:enumeration value="SameOrg"/>
                <xs:enumeration value="SameDept"/>
                <xs:enumeration value="SamePost"/>
                <xs:enumeration value="SamePerson"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="RoleCode"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Custom">
        <xs:annotation>
          <xs:documentation>步骤用户是由自定义表达式计算得到的</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="Expression" type="xs:string" use="required"/>
          <xs:attribute name="Format">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="SingleUser"/>
                <xs:enumeration value="QuoteStringList"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Composite">
        <xs:annotation>
          <xs:documentation>步骤用户是组合其他基本的配置来决定</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:group ref="tk:WfStepUserGroup" maxOccurs="unbounded"/>
        </xs:complexType>
      </xs:element>
      <xs:any namespace="##local" processContents="lax"/>
      <xs:any namespace="##other" processContents="lax"/>
    </xs:choice>
  </xs:group>
  <xs:group name="AutoProcesorGroup">
    <xs:choice>
      <xs:element name="RegNameAutoProcessor" type="xs:Name">
        <xs:annotation>
          <xs:documentation>通过注册名创建AutoProcessor</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompositeAutoProcessor">
        <xs:complexType>
          <xs:group ref="tk:AutoProcesorGroup" maxOccurs="unbounded"/>
          <xs:attribute name="FillMode">
            <xs:annotation>
              <xs:documentation>默认为MainOnly</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="None"/>
                <xs:enumeration value="MainOnly"/>
                <xs:enumeration value="All"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:any namespace="##local" processContents="lax"/>
      <xs:any namespace="##other" processContents="lax"/>
    </xs:choice>
  </xs:group>
</xs:schema>
