CoreWebTest/TestWeb/Xml/schema/v6/SubItems/Control.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by cjy (baison) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tk="http://www.qdocuments.net" targetNamespace="http://www.qdocuments.net" elementFormDefault="qualified">
  <xs:include schemaLocation="../../bin/CommonType.xsd"/>
  <xs:include schemaLocation="../../bin/CommonElement.xsd"/>
  <xs:include schemaLocation="Display.xsd"/>
  <xs:include schemaLocation="UploadProcessor.xsd"/>
  <xs:simpleType name="ControlSizeType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Medium"/>
      <xs:enumeration value="Small"/>
      <xs:enumeration value="Mini"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="ControlSizeGroup">
    <xs:attribute name="Size" type="tk:ControlSizeType">
      <xs:annotation>
        <xs:documentation>控件的大小，默认为Medium</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="AutoTrimGroup">
    <xs:attribute name="AutoTrim" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>自动Trim录入的数值，两头自动消除空格，默认为true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="PlaceholderGroup">
    <xs:attribute name="Placeholder" type="xs:string">
      <xs:annotation>
        <xs:documentation>Placeholder占位文字</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="SimpleDecoderType">
    <xs:attribute name="RegName" type="xs:Name" use="required">
      <xs:annotation>
        <xs:documentation>注册名</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DecoderType">
    <xs:complexContent>
      <xs:extension base="tk:SimpleDecoderType">
        <xs:sequence>
          <xs:element name="AdditionInfo" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>配置将Decoder的其它字段内容填充的数据中对应的字段名</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="DecoderNickName" type="xs:Name" use="required">
                <xs:annotation>
                  <xs:documentation>Decoder的字段名</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="DataNickName" type="xs:Name" use="required">
                <xs:annotation>
                  <xs:documentation>填充的字段名</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EasySearchType">
    <xs:complexContent>
      <xs:extension base="tk:DecoderType">
        <xs:sequence>
          <xs:element name="RefValue" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>EasySearch的关联</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="Field" type="xs:Name" use="required">
                <xs:annotation>
                  <xs:documentation>自身表中要关联字段</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="RefField" type="xs:Name" use="required">
                <xs:annotation>
                  <xs:documentation>要参照关联的字段，需要配置字段的昵称</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseDisplayControlType">
    <xs:sequence>
      <xs:element name="ListDisplay" type="tk:FieldDisplayType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>该控件对应字段在列表下显示的Display。如果不配置将使用默认的Display，不同的控件，默认的Display会不同，请参考具体控件的注释。</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DetailDisplay" type="tk:FieldDisplayType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>该控件对应字段在详情下显示的Display。如果不配置将使用默认的Display，不同的控件，默认的Display会不同，请参考具体控件的注释。</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EditDisplay" type="tk:FieldDisplayType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>该控件对应字段在编辑下显示的Display。如果不配置将使用默认的Display，不同的控件，默认的Display会不同，请参考具体控件的注释。</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExportDisplay" type="tk:FieldDisplayType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>该控件对应字段在导出时（比如导出Excel）的Display。如果不配置将使用默认的Display，不同的控件，默认的Display会不同，请参考具体控件的注释。</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaseControlType">
    <xs:complexContent>
      <xs:extension base="tk:BaseDisplayControlType">
        <xs:attribute name="Class" type="xs:NMTOKENS">
          <xs:annotation>
            <xs:documentation>需要给该控件额外添加的css class</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AsLabel" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>是否按照Label的方式进行显示，默认为false</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseInputType">
    <xs:complexContent>
      <xs:extension base="tk:BaseControlType">
        <xs:attribute name="Readonly" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>是否只读，默认为false</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseTextType">
    <xs:complexContent>
      <xs:extension base="tk:BaseInputType">
        <xs:attribute name="MaxLength" type="xs:unsignedInt">
          <xs:annotation>
            <xs:documentation>可输入的最大长度，默认为0</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MinLength" type="xs:unsignedInt">
          <xs:annotation>
            <xs:documentation>可输入的最小长度</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="tk:PlaceholderGroup"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseTimeType">
    <xs:complexContent>
      <xs:extension base="tk:BaseInputType">
        <xs:attributeGroup ref="tk:PlaceholderGroup"/>
        <xs:attribute name="Format" type="xs:string">
          <xs:annotation>
            <xs:documentation>日期的输出格式，不同的控件默认的格式可能不同，参加相应控件的注释</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseDateType">
    <xs:complexContent>
      <xs:extension base="tk:BaseTimeType">
        <xs:sequence>
          <xs:element name="DefaultValue" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>默认的日期值，使用Evaluator表达式</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseCheckType">
    <xs:complexContent>
      <xs:extension base="tk:BaseInputType">
        <xs:attribute name="CheckValue" type="xs:string">
          <xs:annotation>
            <xs:documentation>选中的值，默认为1</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="UnCheckValue" type="xs:string">
          <xs:annotation>
            <xs:documentation>没有选中的值，默认为0</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseUploadType">
    <xs:complexContent>
      <xs:extension base="tk:BaseInputType">
        <xs:sequence>
          <xs:element name="Processor" type="tk:UploadProcessorType">
            <xs:annotation>
              <xs:documentation>上传处理器</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="IsView" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>是否预览，，仅当上传文件是图片类型时有效。默认为False</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MaxSize" type="xs:unsignedInt">
          <xs:annotation>
            <xs:documentation>文件最大上传大小</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FileExt">
          <xs:annotation>
            <xs:documentation>上传文件扩展名限制。有两种格式，如果只允许某种扩展名上传，那么直接写这种文件的扩展名，如.jpeg.gif.jpg，中间不要有间隔，需要带扩展名的"."。如果不允许某种扩展名删除，那么在[]中写不允许的扩展名，如[.exe.bat.com]</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="(.\w+)*(\[(.\w+)*\])?"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EasySearchControlType">
    <xs:complexContent>
      <xs:extension base="tk:BaseTextType">
        <xs:sequence>
          <xs:element name="EasySearch" type="tk:EasySearchType">
            <xs:annotation>
              <xs:documentation>EasySearch配置</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DialogUrl" type="xs:anyURI">
          <xs:annotation>
            <xs:documentation>弹出对话框的地址，不配置将采用默认地址</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="ControlGroup">
    <xs:choice>
      <xs:element ref="tk:NoControl"/>
      <xs:element ref="tk:Hidden"/>
      <xs:element ref="tk:Text"/>
      <xs:element ref="tk:TextArea"/>
      <xs:element ref="tk:Number"/>
      <xs:element ref="tk:Password"/>
      <xs:element ref="tk:Date"/>
      <xs:element ref="tk:DateTime"/>
      <xs:element ref="tk:Time"/>
      <xs:element ref="tk:CheckBox"/>
      <xs:element ref="tk:Switch"/>
      <xs:element ref="tk:CheckBoxList"/>
      <xs:element ref="tk:Combo"/>
      <xs:element ref="tk:RadioGroup"/>
      <xs:element ref="tk:EasySearch"/>
      <xs:element ref="tk:MultipleEasySearch"/>
      <xs:element ref="tk:EasySearchText"/>
      <xs:element ref="tk:RichText"/>
      <xs:element ref="tk:Upload"/>
      <xs:any namespace="##local" processContents="lax"/>
    </xs:choice>
  </xs:group>
  <xs:element name="NoControl" type="tk:EmptyType">
    <xs:annotation>
      <xs:documentation>该字段不参与界面显示</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hidden" type="tk:BaseDisplayControlType">
    <xs:annotation>
      <xs:documentation>隐藏控件，默认的Display均为NormalDisplay</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Text">
    <xs:annotation>
      <xs:documentation>单行文本输入控件，默认的Display均为NormalDisplay</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseTextType">
          <xs:sequence>
            <xs:element name="Hint" minOccurs="0">
              <xs:annotation>
                <xs:documentation>提示，在编辑框前或者后加入提示信息</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="tk:MultiLanguageType">
                    <xs:attribute name="Position" use="required">
                      <xs:annotation>
                        <xs:documentation>提示的位置</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                          <xs:enumeration value="Prepend"/>
                          <xs:enumeration value="Append"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attributeGroup ref="tk:ControlSizeGroup"/>
          <xs:attributeGroup ref="tk:AutoTrimGroup"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TextArea">
    <xs:annotation>
      <xs:documentation>多行文本输入控件，列表的默认Display为AbbrDisplay，缩略长度由属性AbbrLength决定，其他的默认Display均为NormalDisplay</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseTextType">
          <xs:attribute name="Autosize" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>自适应内容高度，默认为false</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Rows" type="xs:unsignedInt">
            <xs:annotation>
              <xs:documentation>输入框行数</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Resizable">
            <xs:annotation>
              <xs:documentation>控制是否能被用户缩放，默认为None</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="None"/>
                <xs:enumeration value="Both"/>
                <xs:enumeration value="Horizontal"/>
                <xs:enumeration value="Vertical"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="AbbrLength" type="xs:unsignedInt">
            <xs:annotation>
              <xs:documentation>AbbrDisplay缩略的长度，默认为30。该属性为默认的AbbrDisplay提供设置，如果自行设置Display，那么该属性无效</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="tk:AutoTrimGroup"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Number">
    <xs:annotation>
      <xs:documentation>数值输入控件，默认的Display为DoubleDisplay（Format属性与控件的Format属性保持一致）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseInputType">
          <xs:attributeGroup ref="tk:ControlSizeGroup"/>
          <xs:attribute name="Step" type="xs:unsignedByte">
            <xs:annotation>
              <xs:documentation>步长</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MinValue" type="xs:double">
            <xs:annotation>
              <xs:documentation>设置允许的最小值</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MaxValue" type="xs:double">
            <xs:annotation>
              <xs:documentation>设置允许的最大值</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Format" type="xs:string">
            <xs:annotation>
              <xs:documentation>为Display提供数据的输出格式，默认为0</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Password">
    <xs:annotation>
      <xs:documentation>密码控件，编辑的默认Display均为NormalDisplay，其他的默认Display均为MaskDisplay（长度8，全屏蔽）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseTextType">
          <xs:attributeGroup ref="tk:ControlSizeGroup"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Date" type="tk:BaseDateType">
    <xs:annotation>
      <xs:documentation>日期输入控件，Format默认为yyyy-MM-dd。默认的Display均为DateDisplay（Format属性与控件的Format属性保持一致）</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateTime" type="tk:BaseDateType">
    <xs:annotation>
      <xs:documentation>日期（包括时间）输入控件，Format默认为yyyy-MM-dd HH:mm。默认的Display均为DateTimeDisplay（Format属性与控件的Format属性保持一致）</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Time" type="tk:BaseTimeType">
    <xs:annotation>
      <xs:documentation>时间输入控件，Format默认为HH:mm。默认的Display均为TimeDisplay（Format属性与控件的Format属性保持一致）</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CheckBox">
    <xs:annotation>
      <xs:documentation>选择框控件，编辑的默认Display为NormalDisplay，其他的默认Display均为CheckDisplay。（ExportDisplay需要另行开发）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseCheckType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Switch">
    <xs:annotation>
      <xs:documentation>开关控件，编辑的默认Display为NormalDisplay，其他的默认Display均为CheckDisplay。（ExportDisplay需要另行开发）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseCheckType">
          <xs:attribute name="Width" type="xs:unsignedInt"/>
          <xs:attribute name="OnText" type="xs:string"/>
          <xs:attribute name="OffText" type="xs:string"/>
          <xs:attribute name="OnColor" type="xs:string"/>
          <xs:attribute name="OffColor" type="xs:string"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBoxList">
    <xs:annotation>
      <xs:documentation>复选框组控件，编辑的默认Display为NormalDisplay，其他的默认Display均为MultipleDecoderDisplay</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseControlType">
          <xs:sequence>
            <xs:element name="CodeTable" type="tk:SimpleDecoderType">
              <xs:annotation>
                <xs:documentation>CodeTable配置</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Combo">
    <xs:annotation>
      <xs:documentation>下拉框控件，编辑的默认Display为NormalDisplay，其他的默认Display均为DecoderDisplay</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseInputType">
          <xs:sequence>
            <xs:element name="CodeTable" type="tk:DecoderType">
              <xs:annotation>
                <xs:documentation>CodeTable配置</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attributeGroup ref="tk:ControlSizeGroup"/>
          <xs:attributeGroup ref="tk:PlaceholderGroup"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="RadioGroup">
    <xs:annotation>
      <xs:documentation>单选框组控件，编辑的默认Display为NormalDisplay，其他的默认Display均为DecoderDisplay</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseInputType">
          <xs:sequence>
            <xs:element name="CodeTable" type="tk:DecoderType">
              <xs:annotation>
                <xs:documentation>CodeTable配置</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="EasySearch" type="tk:EasySearchControlType">
    <xs:annotation>
      <xs:documentation>EasySearch控件，编辑的默认Display为NormalDisplay，其他的默认Display均为DecoderDisplay</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MultipleEasySearch" type="tk:EasySearchControlType">
    <xs:annotation>
      <xs:documentation>复选EasySearch控件，编辑的默认Display为NormalDisplay，其他的默认Display均为MultipleDecoderDisplay</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EasySearchText" type="tk:EasySearchControlType">
    <xs:annotation>
      <xs:documentation>EasySearch文本输入控件，默认的Display均为NormalDisplay</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RichText" type="tk:BaseInputType">
    <xs:annotation>
      <xs:documentation>富文本控件，默认的Display均为NormalDisplay</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Upload">
    <xs:annotation>
      <xs:documentation>上传控件，编辑的默认Display为NormalDisplay，，其他的默认Display根据IsView属性决定，true使用UploadImgDisplay。（ExportDisplay需要另行开发），false使用UploadDisplay</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tk:BaseUploadType">
          <xs:attribute name="ServerPathField" type="xs:Name" use="required">
            <xs:annotation>
              <xs:documentation>存放服务器路径字段的昵称</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ContentField" type="xs:Name">
            <xs:annotation>
              <xs:documentation>存放内容字段的昵称</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MimeTypeField" type="xs:Name" use="required">
            <xs:annotation>
              <xs:documentation>存放Mime类型字段的昵称</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="SizeField" type="xs:Name" use="required">
            <xs:annotation>
              <xs:documentation>存放文件大小的字段的昵称</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
